.the-goods-body-two{
    margin: 0 auto;
    min-height: 120px;
    max-width: 900px;
    background-color: white;
    padding-top: 10px;

    p{
        width: 85%;
        margin: 0 auto;
                text-transform: uppercase;
                text-align: left;  
                color: black;
                margin-bottom: 10px;
                font-size: 20px;
                font-family: "alternate-gothic-no-3-d",sans-serif;
    }
    
    h3{   
        width: 85%;
        text-align: left;
        color: black;
        font-size: 16px;
        margin: 0 auto;
    }
    
     

}